@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --brand-primary: #0038DB;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --placeholder: #9D9D9D;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: #B6B6B6;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
}


@layer base {
    body {
        @apply bg-[#E4E4E4] text-foreground overflow-x-hidden;
        direction: rtl;
        font-family: 'Yekan Bakh', serif;
    }
}

body, input, button, span {
    word-spacing: -2px;
}

@layer components {
    .desktop-card {
        @apply drop-shadow-[0px_4px_49.6px_0px_#0000001F] md:rounded-[16px] md:border-[0.33px] md:border-border md:px-[56px] md:py-[72px]
    }

    .button-shadow {
        @apply drop-shadow-[0px_10px_30px_0px_#00000033]
    }
}

.font-yekan {
    font-family: 'Yekan Bakh', serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: "Yekan Bakh";
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/YekanBakh/woff2/YekanBakh-Thin.woff2') format('woff2'),
    url('/fonts/YekanBakh/woff/YekanBakh-Thin.woff') format('woff');
}

@font-face {
    font-family: "Yekan Bakh";
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/YekanBakh/woff2/YekanBakh-Light.woff2') format('woff2'),
    url('/fonts/YekanBakh/woff/YekanBakh-Light.woff') format('woff');
}

@font-face {
    font-family: "Yekan Bakh";
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/YekanBakh/woff2/YekanBakh-Regular.woff2') format('woff2'),
    url('/fonts/YekanBakh/woff/YekanBakh-Regular.woff') format('woff');
}

@font-face {
    font-family: "Yekan Bakh";
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/YekanBakh/woff2/YekanBakh-SemiBold.woff2') format('woff2'),
    url('/fonts/YekanBakh/woff/YekanBakh-SemiBold.woff') format('woff');
}

@font-face {
    font-family: "Yekan Bakh";
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/YekanBakh/woff2/YekanBakh-Bold.woff2') format('woff2'),
    url('/fonts/YekanBakh/woff/YekanBakh-Bold.woff') format('woff');
}

@font-face {
    font-family: "Yekan Bakh";
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/YekanBakh/woff2/YekanBakh-ExtraBold.woff2') format('woff2'),
    url('/fonts/YekanBakh/woff/YekanBakh-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: "Yekan Bakh";
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/YekanBakh/woff2/YekanBakh-Black.woff2') format('woff2'),
    url('/fonts/YekanBakh/woff/YekanBakh-Black.woff') format('woff');
}

@font-face {
    font-family: "Yekan Bakh";
    font-style: normal;
    font-weight: 950;
    src: url('/fonts/YekanBakh/woff2/YekanBakh-ExtraBlack.woff2') format('woff2'),
    url('/fonts/YekanBakh/woff/YekanBakh-ExtraBlack.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    font-style: normal;
    src: url('/fonts/Roboto/Roboto-Black.ttf') format('truetype');
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(var(--primary));
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--background));
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@font-face {
    font-family: "YekanBakhVar";
    src: url('/fonts/YekanBakh/woff2/YekanBakh-VF.woff2') format("woff2"),
    url('/fonts/YekanBakh/woff/YekanBakh-VF.woff') format('woff');
}


@font-face {
    font-family: "Yekan Bakh FA Num";
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/YekanBakh/woff2/YekanBakhFaNum-Thin.woff2') format('woff2'),
    url('/fonts/YekanBakh/woff/YekanBakhFaNum-Thin.woff') format('woff');
}

@font-face {
    font-family: "Yekan Bakh FA Num";
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/YekanBakh/woff2/YekanBakhFaNum-Light.woff2') format('woff2'),
    url('/fonts/YekanBakh/woff/FaNumYekanBakh-Light.woff') format('woff');
}

@font-face {
    font-family: "Yekan Bakh FA Num";
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/YekanBakh/woff2/YekanBakhFaNum-Regular.woff2') format('woff2'),
    url('/fonts/YekanBakh/woff/FaNumYekanBakh-Regular.woff') format('woff');
}

@font-face {
    font-family: "Yekan Bakh FA Num";
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/YekanBakh/woff2/YekanBakhFaNum-SemiBold.woff2') format('woff2'),
    url('/fonts/YekanBakh/woff/FaNumYekanBakh-SemiBold.woff') format('woff');
}

@font-face {
    font-family: "Yekan Bakh FA Num";
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/YekanBakh/woff2/YekanBakhFaNum-Bold.woff2') format('woff2'),
    url('/fonts/YekanBakh/woff/YekanBakhFaNum-Bold.woff') format('woff');
}

.font-fa-num {
    font-family: 'Yekan Bakh FA Num';
}


.var-font-body {
    font-family: "YekanBakhVar", sans-serif;
    font-size: 17px;
    font-variation-settings: "wght" 360, "wdth" 100, "DOTS" 0;
    word-spacing: -2px;
}

.var-font-title {
    font-family: "YekanBakhVar", sans-serif;
    font-variation-settings: "wght" 500, "wdth" 100, "DOTS" 0;
    @media (min-width: 768px) {
        font-variation-settings: "wght" 580, "wdth" 100, "DOTS" 0;
    }
}

